int a = 10;
int ab = a;			// error. not known at compile time

function : float b() { return 5.5; }
int ba = b();			// error. not known at compile time

int c = 5;
static int ca = c; 	// eror. not known at compile time

function : void d() {
	float da = 7.1;
	static float db = da; // eror. not known at compile time
}

function : void e() {
	auto ea = 10;		// valid
	int eb = 5;
	auto ec = eb;		// valid
}

int f = 10;
const int fa = f; 		// invalid. not known at compile time

function : void g() {
	auto ga = true;
	auto gb = 5;
	gb = ga;			// invalid. bool not assignable to int
}

int h = 10;
const int ha = h;		// invalid. not known at compile time

const int i = 10;
const int ia = i;		// valid
